<h1>New Order</h1>

<% @restaurante_id = Restaurante.find(params[:restaurante_id]) %>

<%= render 'form', order: @order %>

<%= link_to "<button class='normalbtn'>Volver</button>".html_safe, 'javascript:history.go(-1);' %>
